.ab-item{
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 30px;
}

.ab-img1{
    z-index: 1;
}

.ab-text{
    margin-left: 4%;
    margin-right: 4%;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 140%;
    color: #000000;
}

.rec1{
    position: absolute;
    z-index: 0;
    top: 320px;
    left: -55px;
}

.rec2{
    position: absolute;
    z-index: 0;
    top: 780px;
    right: 0;
}


.sert{
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
    height: 299px;
}

.sert-img{
    height: 100%;
}

@media screen and (max-width: 1040px){
    .rec1, .rec2{
        display: none;
    }
    .sert-img{
        height: 200px;
    }
}

@media screen and (max-width: 1010px){
    .ab-img1{
        display: none;
    }
}

@media screen and (max-width: 700px){
    .sert{
        display: block;
        justify-content: none;
        align-items: none;
        height: 1020px;
        margin-top: 0px;
    }
    .sert-img{
        height: 200px;
        float: none;
        display: block;
        margin: 0 auto;
        margin-bottom: 10px;
    }
}