@font-face {
    font-family: "Lato";
    src: url("../fonts/Lato-Heavy.ttf") format("truetype"),
}
.contacts{
    height: 50px;
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.contacts-item{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.contacts-img{
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.contacts-h4{
    color: #231F1C;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
}


.nav-head{
    height: 90px;
    background: #231F1C;
}

.wrapper{
    width: 90%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-container{
    padding: 0;
    height: 17px;
    width: 27%;
    display: flex;
    justify-content: space-between;
}

.nav-li{
    display: inline;
    margin-right: 2%;
    margin-left: 2%;
}

.nav-a{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: white;
    text-decoration: none;
    letter-spacing: 0.05em;   
}

.nav-a:hover{
    color: #FFC82E;
    text-decoration: underline;
}

.nav-a:active{
    color: #FFB82E;
    text-decoration: underline;
}

.nav-input{
    float: left;
    height: 37px;
    width: 75%;
    background: #231F1C;
    border: none;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: rgba(255, 255, 255, 0.5);
    padding-left: 20px;
    outline: none;
}

.nav-search{
    width: 310px;
    padding: 0px;
    height: 40px;
    border: 1px solid white;
}

.search-ico{
    width: 24px;
    height: 24px;
    margin: 8px 14px 8px 14px;
}
