.info{
    width: 90%;
    margin: 0 auto;
    margin-top: 50px; 
    margin-bottom: 30px;  
}

.info-item{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 300px;
}

.info-img{
    height: 300px;
}

.info-item-desc{
    height: 217px;
    width: 60%;
}

.wrap-img{
    width: 30%;
    height: 300px;
    padding-left: 15%;
}

.info-title{
    margin-top: 20px;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 127%;
    letter-spacing: 0.03em;
    color: #000000;
    margin-bottom: 20px; 
}

.info-brand{
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 127.5%;
    letter-spacing: 0.03em;
    color: #000000;
    margin-bottom: 20px;
}

.info-price{
    background: #231F1C;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
    width: 174px;
    height: 37px;
    text-align: center;
    padding-top: 15px;
}

.info-description{
    width: 90%;
    margin: 0 auto;
    padding-top: 50px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 140%;
    color: #000000;
}

.info-number{
    width: 301px;
    margin-left: 5%;
    padding-top: 40px;
    margin-bottom: 40px;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 127.5%;
    letter-spacing: 0.03em;   
    color: #000000;
    border-bottom: 1px solid #FFC82E;
    text-decoration: none;
}

.info-hr{
    background: #FFC82E;
    border: none;
    width: 301px;
}

@media screen and (max-width: 920px){
    .info-item{
        display: block;
        height: auto;
        margin-bottom: -30px;
    }
    .info-item-desc{
        width: 98%;
        margin: 0 auto;
        height: auto;
    }
    .info-title{
        font-size: 16px;
        line-height: 19px;
    }
    .info-brand{
        font-size: 14px;
        line-height: 17px;
    }
    .wrap-img{
        width: 90%;
        margin: 0 auto;
        padding-left: 0px;
    }
    .info-img{
        display: block;
        width: auto;
        margin: 0 auto;
    }
    .info-description{
        width: 98%;
        margin: 0 auto;
    }
    .info-number{
        display: block;
        font-size: 16px;
        line-height: 127.5%;
        width: 250px;
        margin: 0px;
        margin-bottom: 20px;
        text-decoration: none;
    }
}