.info{
    width: 90%;
    margin: 0 auto;
    margin-top: 50px;   
}

.info-item{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 300px;
}

.info-img{
    height: 300px;
}

.info-item-desc{
    height: 217px;
    width: 60%;
}

.wrap-img{
    width: 30%;
    height: 300px;
    padding-left: 15%;
}

.info-title{
    margin-top: 20px;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 127%;
    letter-spacing: 0.03em;
    color: #000000;
    margin-bottom: 20px; 
}

.info-brand{
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 127.5%;
    letter-spacing: 0.03em;
    color: #000000;
    margin-bottom: 20px;
}

.info-price{
    background: #231F1C;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
    width: 174px;
    height: 37px;
    text-align: center;
    padding-top: 15px;
}

.info-description{
    width: 90%;
    margin: 0 auto;
    padding-top: 50px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 140%;
    color: #000000;
}

.info-number{
    width: 301px;
    margin-left: 5%;
    padding-top: 40px;
    margin-bottom: 40px;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 127.5%;
    letter-spacing: 0.03em;   
    color: #000000;
    border-bottom: 1px solid #FFC82E;
}

.info-hr{
    background: #FFC82E;
    border: none;
    width: 301px;
}

.sert{
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.sert-img{
    height: 299px;
}