.map{
    height: 400px !important;
    width: 70% !important;
    margin: 0 auto;
    background: #F9F9F9;
    margin-bottom: 50px;
}

.wrapper-catalog{
    width: 90%;
    min-height: 800px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

@media screen and (max-width: 610px){
    .map{
        margin: 0;
        width: 100% !important;
    }
    .wrapper-catalog{
        width: 100%;
        display: block;
        height: max-content;
    }
}