.list{
    width: 870px;
}

.list .top-item{
    width: 270px;
    height: 270px;
    float: left;
    margin-left: 15px;
    margin-bottom: 15px;
} 

.list .top-img{
    height: 160px;
    margin-top: 5px;
    margin-left: 80px;
}

.list .top-title{
    width: 250px;
    top: 190px;
    margin-left: 10px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 140%;
    color: #231F1C;
}